*{

    margin: 0;
    padding: 0;
    color: white;
}
/* ................................................................ */
.continer{
    /* margin: 10px; */
    display: grid;
    height: 100vh;

    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    /* grid-template-rows: repeat(4,200px); */
    gap: 5px;
    grid-template-areas: 
    "nav nav nav nav  nav"
    "slider main main main slider2  "
    "slider section1 section2 section3  slider2"
    "slider footer footer footer2 slider2"
    "slider footer footer footer2   slider2"
    
    ;

}
/* ......................................................... */
nav{
    background-color: aqua;
    grid-area: nav;
}
main{
    background-color: rgb(46, 52, 105);
    grid-area: main;

}
/* ..................................................... */
#slider{
    grid-area: slider;

    background-color: rgb(8, 15, 15);
}
#slider2{
    grid-area: slider2;

    background-color: rgb(156, 187, 187);
}
/* ..........................................sections */
#section1{
    grid-area: section1;

    background-color: rgb(81, 255, 0);
}
#section2{
    grid-area: section2;

    background-color: rgb(255, 153, 0);
}
#section3{
    grid-area: section3;

    background-color: rgb(54, 5, 48);

}
#section4{
    grid-area: section4;

    background-color: rgb(182, 163, 180);

}
#section5{
    grid-area: section5;

    background-color: rgb(158, 158, 158);

}

/* .......................................................... */
footer{
    grid-area: footer;

    background-color: rgb(211, 108, 199);

}
#footer2{
    grid-area: footer2;

    background-color: rgb(32, 20, 31);

}
/* ...........responsive */
@media only screen and (max-width:650px) {
    
    .continer{
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
        grid-template-rows: repeat(auto-fit,120px);
        grid-template-areas: 
        "nav"
        "slider"
        "main"
        "section1"
        "section2"
        "section3"
        "footer"
        "footer2"

        ;
    }
}
/* ........................................................... */